{% extends "base.html" %}
{% block title %}Students and Projects{% endblock %}

{% block content %}
	<label for="Student List">
	<h3>Student List</h3>
	</label>
	<ul>
		{% for first_name, last_name, github in students %}
			<p>

			<li><a href="/student/{{ github }}">{{ first_name }} {{ last_name }}</a></li>
			</p>
		{% endfor %}
	</ul>
	<h4><a href="/new-student">Add a student</a></h4><br>
	<label for="Project List">
	<h3>Project List</h3>
	<ul>
		{% for title in projects %}
			<p>
			<li><a href="/project/{{ title[0] }}">{{ title[0] }}</a></li>
			</p>
		{% endfor %}
	</ul>
	<h4><a href="/new-project">Add a project</a></h4><br>


{% endblock %}